# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Dependency directories
/.pnp
.pnp.js

# TypeScript
*.tsbuildinfo

# Build output
/dist/
/bin/
/oclif.manifest.json

# Optional npm cache directory
.npm

# Dotenv environment variables file
.env

# macOS
.DS_Store

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Prisma
/prisma/dev.db
/prisma/migrations/

# Other
coverage/
